<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
    <link rel="stylesheet" href="/style2.css">
</head>
<body>
    <div class="container">
        <h2>Create a New Chat</h2>
        <form method="POST" action="/chats">
            <input type="text" placeholder="Enter your name" name="from" class="input-field" required>
            <br>
            <textarea name="msg" placeholder="Enter your message" class="textarea" rows="6" required></textarea>
            <br>
            <input type="text" placeholder="To?" name="to" class="input-field" required>
            <br>
            <button class="submit">Submit</button>
        </form>
    </div>
</body>
</html>